* {
    background-color: antiquewhite;
}

header {
    background-color: gray;
    justify-content: space-between;
}

.score {
    text-align: right;

}

.time {
    text-align: left;
}


footer {
    background-color: gray;
    text-align: center;
}